@model APIProyecto.Models.User

<html lang="en">
<head>
    @{ViewData["Title"] = "Register";}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/writing2.ico" />
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20">

                <form class="login100-form validate-form" asp-action="Index">

                    <!--logo-->
                    <span class="login100-form-avatar">
                        <img src="images/WebChat.PNG" alt="AVATAR">
                    </span>
                    <br>
                    <hr class="hr-count">
                    <p class="p-acout">Crea tu cuenta aquí</p>
                    <hr class="hr-count">
                    <br><br><br><br>

                    <!--Usuario-->
                    <div class="wrap-input100 validate-input m-b-50">
                        <input class="input100" type="text" asp-for="Username" placeholder="Usuario" />
                        <span asp-validation-for="Username"></span>
                    </div>

                    <!--Nombre-->
                    <div class="wrap-input100-email validate-input m-b-50">
                        <input class="input100" type="text" asp-for="Name" placeholder="Nombre" />
                        <span asp-validation-for="Name"></span>
                    </div>

                    <!--Password-->
                    <div class="wrap-input100 validate-input m-b-50">
                        <input class="input100" type="password" asp-for="Password" placeholder="Contraseña" />
                        <span asp-validation-for="Password"></span>
                    </div>

                    <!--Botón registrarse-->
                    <div class="container-login100-form-btn">
                        <input class="login100-form-btn" type="submit" value="Registrarse" />

                    </div>
                    <ul class="login-more p-t-190">
                        <li class="m-b-8">
                            <span class="txt1">
                                Iniciar sesión
                            </span>

                            <a asp-controller="Login" class="txt2">
                                regresar
                            </a>

                           
                        </li>
                    </ul>

                </form>
            </div>
        </div>
    </div>
</body>


                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
